body{
    text-align: center;
}

#gameContainer{
    display: inline-block;
    position: relative;
}

#board{
    background-color: #41980a;
}

#playBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
}